<!DOCTYPE html>
{% block content %}
	<h1>Welcome to the Investment Suggestion form</h1>
    <p>Please enter your state and whether you'd like us to update our records <b>Be sure that all entries are in lowercase!</b></p>

<form method ="POST" action="http://localhost:5000/User_Investment_Suggestions">
	{{form.hidden_tag()}}
    {% for message in get_flashed_messages() %}
    {{ message }}
    {% endfor %}
    <p>{{ form.State.label }}{{ form.State() }}</p>
    <p>{{ form.New_Data_Request.label }}{{ form.New_Data_Request() }}</p>
    {{ form.submit() }}
</form>
{% endblock %}